{% extends 'home/index.html' %}

{% block content %}

{% include 'home/jumbotron.html' %}
<div class="container cont">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to <b class="text-special">Danes Artworks</b></h1>
            <p><b>Art tutorial | Design tips | Contemporary Art | Graphic design.</b></p>
            <p>a personal blog of <b class="text-special"><a href="{% url 'contact' %}">Danes Nizam Virnanda</a></b></p>
            <div style="text-align: justify;">
                <p>
                    Hello World!, Danes Artworks is a personal blog project by me, Danes Nizam Virnanda.
                </p>
                <p>
                    The reason I created this blog is to socialize and to form a digital artist community, where this is very difficult to do, because in the world of digital art there are various branches of art, and each of them has its own market.
                    Within this blog project there are various kinds of content that are very useful for digital artists.
                    ranging from art opinions, tutorials, tips, and etc.
                </p>
                <p>
                    So what you waiting on? <b>Let's explore, because that is what artists do!</b>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                <input class="mr-sm-2 searchfield" style="background-color: rgba(52, 100, 100, 0.103); border: none; border-left: 5px solid teal; padding: 1vh; outline: 3px solid transparent; margin-bottom: 10px; width: 100%;" type="search" placeholder="Search articles..." aria-label="Search" name="qs" autocomplete="off">
            </form>
            <h5>Newest article</h5>
            {% for blog in blogs %}
            <div class="mc">
                <a href="{% url 'blog' blog.id %}" class="linkcard" id="linkblog">
                    <div class="mycard" style="background-image: url('{{ blog.baner.url }}');">
                        <div class="mycardtitle">
                            <small>posted in {{blog.date_created}}</small>
                            <h5>{{ blog.key }}</h5>
                            <p>{{ blog.title }}..</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
