{% load static %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '/img/logo_danes.png' %}" style="width: 30px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto" style="margin-right: -50%;">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <div style="margin-right: 3vh;"><a target="_blank" href="https://facebook.com/Danes006"><img style="width: 20px;" src="{% static '/img/facebook.png' %}" alt="facebook"></a></div>
          <div style="margin-right: 3vh;"><a target="_blank" href="https://github.com/Danes222"><img style="width: 20px;" src="{% static '/img/github.png' %}" alt="github"></a></div>
          <div style="margin-right: 3vh;"><a target="_blank" href="https://www.instagram.com/daanes_iy/"><img style="width: 20px;" src="{% static '/img/instagram.png' %}" alt="instagram"></a></div>
          <div style="margin-right: 3vh;"><a target="_blank" href="https://www.linkedin.com/in/danesnizam/"><img style="width: 20px;" src="{% static '/img/linkedin.png' %}" alt="linkedin"></a></div>
          <div style="margin-right: 3vh;"><a target="_blank" href="https://www.twitter.com/Danes_33/"><img style="width: 20px;" src="{% static '/img/twitter.png' %}" alt="linkedin"></a></div>
        </div>
      </div>
    </div>
  </nav>